* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(
        #9ba6a5,
        #ffcbcb,
        #407088,
        #132743
    );
}

h1 {
    text-align: center;
    color: rgb(54, 54, 54);
    font-size: 3rem;
}

main {
    width: 80vw;
    height: 120vh;
    margin: 0 auto;
}

#pickPlayers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12vh 12vh;
    align-items: center;
    justify-items: center;
}

#pickWeapon {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12vh 12vh;
    align-items: center;
    justify-items: center;
}

.select {
    width: 50%;
    font-size: 1.1rem;
}

.button {
    background-color: rgba(141, 255, 230, 0.5);
    grid-column: 1 / span 3;
    width: 15%;
    height: 5vh;
    border: 1px solid rgb(54, 54, 54);
}

.singleList {
    width: 25%;
}

.characterDisplay {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.figure {
    height: 40vh;
    max-height: 333px;
    width: 45vw;
    max-width: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px 83px;
    align-items: center;
    justify-items: center;
    color: white;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.6);
}

.image {
    height: 80%;
    width: 80%;
    border-radius: 10%;
    filter: drop-shadow(0 0 10px white);
}

.caption {
    height: 70%;
    width: 95%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    line-height: 1.5;
}

.health {
    grid-column: 1 / span 3;
    align-self: flex-end;
    color: rgb(22, 176, 99);
    font-size: 1.3rem;
}

.rpsPick {
    font-size: 3rem;
    height: 50%;
    width: 95%;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}

#results {
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
    color: white;
}

.outcome {
    border: 2px solid #ffcbcb;
    padding: 20px;
    margin: 0 auto;
    width: 33vw;
    background-color: rgba(0, 0, 0, 0.2);
}